.App {
  text-align: center;
}


.App-header{
  background-color: #61dafb;
  min-height: 10vh;
  display: flex;
  align-items: center;
}
.logo{
  margin-left: 10%
}

nav{
  display: flex;
  margin-left: -5%;
  
}

.link{
  text-decoration: underline overline;
  color: darkorchid;
  margin-left: 100%;
}
